@font-face {
    font-family: "Signature";
    src: url(assets/fonts/BlackSignaturePersonalUseOnlyRegular.otf);
}
@font-face {
    font-family: "Changa";
    src: url(assets/fonts/ChangaOne-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto.ttf);
}
body {
    
}
header {
    padding: 4px, 90px, 4px, 90px;
    gap: 8px;
}
.headerElementsRow {
    justify-content: space-between;
}
.headerLogo {
    
}
.talking {
    font-family: Signature;
    font-size: 16px;
}
.travel {
    font-family: Changa;
    color: #8A53FF;
    font-size: 26px;
}
.menu {
    display: flex;
    font-family: Roboto;
    height: hug(18px);
    gap: 14px;
    border: 1px;
}
.links {
    height: 14px;
    display: flex;
    font-size: 12px;
    gap: 14px;
}
.home {
    color: #8A53FF;
}
.line {
    border-left: thick solid #EEEEEE;
    border-left-width: 0.1cap;
}
.headerPic {
    size: 16px;
}




.hero {
    background-image: url("assets/images/heroBack.jpg");
    mix-blend-mode: multiply;
}
.content {
    gap: 26px;
    padding: 30px, 94px, 30px, 109px;
    width: Fixed (600px);
    height: Fixed (455px);
}
.heroText {
    gap: 9px;
    width: Fill (396px);
    height: Hug (198px);
}
.heroTitle1 {
    font-family: Changa;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: -1%;
    color: #8A53FF
}
.heroTitle2 {
    font-family: Changa;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: -1%;
}
.heroDisc {
    font-family: Roboto;
    font-size: 17px;
    line-height: 28px;
    color: #434343;
}
.callToAct {
    display: flex;
    
}
.rectangle {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    align-content: center;
    background-color: #8A53FF;
    width: 129px;
    height: 36px;
    border-radius: 3px;
}
.watchHigh {
    font-family: Roboto;
    color:#434343;
    font-size: 12px;
}
/* .container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float:left
} */

