@font-face {
    font-family: "Signature";
    src: url(as)
}
@font-face {
    font-family: "Changa";
    src: url(assets/fonts/ChangaOne-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto.ttf);
}
body {
    display: grid;
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.header_logo {
    flex-direction: column;
    line-height: 0%;
}
.talking_text {
    font-family: Signature;
    font-size: 16px;
}
.travel_text {
    font-family: Changa;
    color: #8A53FF;
    font-size: 26px;
}
.menu {
    display: flex;
    font-family: Roboto;
    gap: 14px;
    align-items: center;
}
.links {
    display: flex;
    font-size: 14px;
    gap: 14px;
}
.line {
    border-left: thick solid #EEEEEE;
    border-left-width: 0.1cap;
    height: 15px;
}
.header_pic {
    display: flex;
    size: 16px;
    gap: 14px;
}
.home_text {
    color: #8A53FF;
}